.receiptcreate {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
  display: table;
  margin: auto;
  min-height: 50vh;
  padding: 30px;
  text-align: center;
}

.receiptshop {
  margin: auto;
  text-align: center;
  width: 100%;
}

.receiptshopbutton { display: inline-table; }

.receiptshoplabel {
  display: inline-table;
  width: 20%;
}

.receiptshopselect {
  display: inline-table;
  width: 60%;
}

.receiptshop select { display: inline-block; }

.receiptdate {
  margin: auto;
  text-align: center;
  width: 100%;
}

.receiptdate input { display: inline-block; }
