<div class="receiptcreate">
  <div class="receiptdate">
    <div class="col-md-2">
      <label>Date</label>
    </div>
    <div class="col-md-10">
      <input type="date" class="form-control" placeholder="Date" #date/>
    </div>
    <span class="text-danger"></span>
  </div>
  <div class="receiptshop">
    <div class="receiptshoplabel">
      <label>Shop</label>
    </div>
    <div class="receiptshopselect">
      <select  id="selectshop" data-placeholder="Select shop" class="form-control chosen-single-select" #shop>
        <option *ngFor="let shop of shops" [value] = "shop.id">
          {{shop.name}}
        </option>
      </select>
    </div>
    <div class="receiptshopbutton">
      <button mat-raised-button type="button" id="addshopbutton" class="btn btn-success" (click)="showShopDialog()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
  <hr/>
  <div class="tableheaders">
    <div class="col-md-4 col-md-offset-1">
      <label>Name</label>
    </div>
    <div class="col-md-3">
      <label>Amount</label>
    </div>
    <div class="col-md-2">
      <label>Price</label>
    </div>
    <div class="col-md-2">
      <label>Total</label>
    </div>
  </div>
  <div class="receiptproducts">
    <div class="productslinecreate" *ngFor="let product of newProducts">
      <div class="col-md-2 buttonproductcreate">
        <button class="btn btn-danger btn-xs" type="button" id="removeproductbutton"><small><span class="glyphicon glyphicon-remove"></span></small></button>
      </div>
      <div class="col-md-3 nameproductcreate">
        {{product.Name}}
      </div>
      <div class="col-md-3 amountproductcreate">
        {{product.Amount}}
      </div>
      <div class="col-md-2 priceproductcreate">
        {{product.Price}}
      </div>
      <div class="col-md-2 producttotalcreate">
        {{product.TotalValue}}
      </div>
    </div>
  </div>
  <hr class="totalhr">
  <div class="productstotal">
    <label id="totallabel">Total:</label>
    <label id="total">0</label>
  </div>
  <div class="receiptaddproduct">
    <button type="button" id="opendialogbutton" (click)="showProductDialog()" class="btn btn-success">Add product</button>
  </div>

  <div class="receiptbuttons">
    <a class="btn btn-danger">Cancel</a>
    <input type="submit" class="btn btn-success" value="Save" (click)="save()"/>
  </div>
</div>

<p-dialog header="Add product" [(visible)]="productDialogDisplay" [width]="300">
  <div class="createproductproduct" *ngIf="!newProduct">
    <label>Product:</label>
    <select data-placeholder="Select product" class="forminput chosen-single-select"  [(ngModel)]="newProductId">
      <option *ngFor="let product of products" [value] = "product.id" >
        {{product.name}}
      </option>
    </select>
  </div>
  <div class="checkbox">
    <label><input id="newproductcheckbox" type="checkbox" (change)="newProduct = !newProduct"/> New product</label>
  </div>
  <div id="newproduct" *ngIf="newProduct">
    <div class="createproductname">
      <label>Name:</label>
      <input class="forminput" placeholder="Name" [(ngModel)]="newProductName" />
    </div>
    <div class="createproductcategories">
      <label>Categories:</label>
      <select data-placeholder="Select categories" class="forminput chosen-group-select" multiple="multiple">

      </select>
    </div>
  </div>
  <div class="createproductamount">
    <label>Amount:</label>
    <input type="number" class="forminput" placeholder="Amount" [(ngModel)]="newProductAmount"/>
  </div>
  <div class="createproductprice">
    <label>Price per unit:</label>
    <input type="number" class="forminput" placeholder="Price per unit" [(ngModel)]="newProductPrice"/>
  </div>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="addProduct()" label="Add"></button>
    <button type="button" pButton icon="fa-close" (click)="productDialogDisplay=false" label="Cancel"></button>
  </p-footer>
</p-dialog>


<p-dialog header="Add shop" [(visible)]="shopDialogDisplay" [width]="300">
  <label>Name:</label>
  <input type="text" #newShopName class="form-control" placeholder="Name"/>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="addShop(newShopName)" label="Add"></button>
    <button type="button" pButton icon="fa-close" (click)="shopDialogDisplay=false" label="Cancel"></button>
  </p-footer>
</p-dialog>
