<div *ngIf="dataLoaded">

  <div class="col-md-12 col-sm-12 dailysummarydate">
    <p>{{'dailysummary-date'|translate}}: {{date}}</p>
  </div>
  <div class="col-md-12 col-sm-12">

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.totalCost}} {{currency}}</p>
        <p>{{'dailysummary-youspend'|translate}} {{'dailysummary-thatday'|translate}}</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div *ngIf="summary.percentPlan !=-1" class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.percentPlan}}%</p>
        <p>of your plan</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.shopsCount}}</p>
        <p>w tylu sklepach kupiłeś tego dnia</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.productsCount}}</p>
        <p>tyle produktów kupiłeś tego dnia</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.categoriesCount}}</p>
        <p>tyle kategorii</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock" *ngIf="summary.eachCategoryCost.length>0">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="scheme"
          [results]="summary.eachCategoryCost"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]='eachCategoriesCostXLabel'
          [yAxisLabel]='eachCategoriesCostYLabel'
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock" *ngIf="summary.eachShopProducts.length>0">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="scheme"
          [results]="summary.eachShopProducts"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]='eachShopProductsXLabel'
          [yAxisLabel]='eachShopProductsYLabel'
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock" *ngIf="summary.eachShopMoney.length>0">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="scheme"
          [results]="summary.eachShopMoney"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]='eachShopCostXLabel'
          [yAxisLabel]='eachShopCostYLabel'
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.maxProductCost}} zł</p>
        <p>najdroższy przedmiot</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.minProductCost}} zł</p>
        <p>najtańszy przedmiot</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.averageProductCost}} zł</p>
        <p>średni koszt produktu</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.averageReceiptCost}}zł</p>
        <p>średni koszt rachunku</p>
      </div>
    </div>

  </div>

  <div class="col-md-12">
  </div>
</div>
<div *ngIf="!dataLoaded">
  <mat-spinner></mat-spinner>
</div>
