<div class="col-md-12">
  <div class="col-md-3 panelmaindiv col-md-offset-2">
    <div class="panel panel-default listpanel">
      <a (click)="goShops()">
        <div>
          <span>Shops</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv">
    <div class="panel panel-default listpanel">
      <a (click)="goCategories()">
        <div>
          <span>Categories</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv">
    <div class="panel panel-default listpanel">
      <a (click)="goProducts()">
        <div>
          <span>Products</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv col-md-offset-2">
    <div class="panel panel-default listpanel">
      <a (click)="goCreateReceipt()">
        <div>
          <span>Create Receipt</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv">
    <div class="panel panel-default listpanel">
      <a (click)="goCreateCyclicalReceipt()">
        <div>
          <span>Create Cyclical Receipt</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv">
    <div class="panel panel-default listpanel">
      <a (click)="goPlan()">
        <div>
          <span>Plan</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv col-md-offset-2">
    <div class="panel panel-default listpanel">
      <a (click)="goSettings()">
        <div>
          <span>Setting</span>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3 panelmaindiv">
    <div class="panel panel-default listpanel">
      <a (click)="goAccount()">
        <div>
          <span>Account</span>
        </div>
      </a>
    </div>
  </div>
</div>
