<div class="col-md-12">
  <mat-card class="menu-card" (click)="goShops()">
      <p>{{'options-shops'|translate}}</p>
  </mat-card>
  <mat-card class="menu-card" (click)="goCategories()">
      <p>{{'options-categories'|translate}}</p>
  </mat-card>
  <mat-card class="menu-card" (click)="goProducts()">
      <p>{{'options-products'|translate}}</p>
  </mat-card>
  <mat-card class="menu-card" (click)="goCreateReceipt()">
      <p>{{'options-receipt'|translate}}</p>
  </mat-card>
  <mat-card class="menu-card" (click)="goCreateCyclicalReceipt()">
      <p>{{'options-cyclical'|translate}}</p>
  </mat-card>
  <mat-card class="menu-card" (click)="goPlan()">
      <p>{{'options-plan'|translate}}</p>
  </mat-card>
  <mat-card class="menu-card" (click)="goStatistics()">
    <p>{{'options-statistics'|translate}}</p>
  </mat-card>
</div>
<div class="col-md-12">
  <hr>
  <br>
</div>
