
<div *ngIf="isDataLoaded">
  <div class="col-md-12">
    <div class="col-md-3 details-menu">
      <h2 class="detailsName">{{product.name}}</h2>
      <a mat-raised-button color="primary" (click)="Edit()">{{'common-edit'|translate}}</a>
      <a mat-raised-button color="warn" (click)="Delete()">{{'common-delete'|translate}}</a>
      <a mat-raised-button color="basic"  (click)="GoBack()">{{'common-goback'|translate}}</a>

      <div class="detailsList">
        <div *ngIf="hasCategories" class="detailsListItems">
          <p>{{'productdetails-categories'|translate}}:</p>
          <mat-list>
              <a mat-list-item (click)="CategoryDetails(category)" *ngFor="let category of categories">
                <mat-icon matListIcon>label</mat-icon>
                {{category.name}}
              </a>
          </mat-list>
        </div>
        <div *ngIf="!hasCategories">
          {{'productdetails-nocategories'|translate}}
        </div>
        <br />
      </div>
    </div>

    <div class="col-md-9 statistics-menu">
      <div class="col-md-12 statistics-menu-dates">
        <span>{{'common-startdate'|translate}}:</span>
        <mat-form-field class="detailsDateField">
          <input matInput [matDatepicker]="startPicker" placeholder="{{'common-startdate'|translate}}" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <span>{{'common-enddate'|translate}}:</span>
        <mat-form-field class="detailsDateField">
          <input matInput [matDatepicker]="endPicker" placeholder="{{'common-enddate'|translate}}" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <a mat-button color="basic"  (click)="SetDates()">{{'common-setdates'|translate}}</a>
      </div>
      <div class="col-md-12">
        <div *ngIf="summary.totalTimesBoughtAmount==0">
          {{'common-statistics-empty'|translate}}
        </div>
        <div *ngIf="summary.totalTimesBoughtAmount>0">
          <mat-accordion class="example-headers-align" [multi]="true">
            <mat-expansion-panel class="statistics-panel" [expanded]="step === 0" (opened)="setStep(0)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-totalTimesBoughtAmount'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.totalTimesBoughtAmount}} </span> <span class="summaryText">- {{'productdetails-totalTimesBoughtAmount-description'|translate}} </span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 1" (opened)="setStep(1)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-totalMoneySpent'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.totalMoneySpent}} {{currency}} </span> <span class="summaryText">- {{'productdetails-totalMoneySpent-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 2" (opened)="setStep(2)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-minPrice'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.minPrice}} {{currency}}</span> <span class="summaryText">- {{'productdetails-minPrice-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 3" (opened)="setStep(3)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-averagePrice'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.averagePrice}} {{currency}}</span> <span class="summaryText">- {{'productdetails-averagePrice-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>


            <mat-expansion-panel class="statistics-panel" [expanded]="step === 4" (opened)="setStep(4)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-maxPrice'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.maxPrice}} {{currency}}</span> <span class="summaryText">- {{'productdetails-maxPrice-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 5" (opened)="setStep(5)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-shopsAmount'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.shopsAmount}}</span> <span class="summaryText">- {{'productdetails-shopsAmount-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 6" (opened)="setStep(6)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-averagePriceInShops'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="chart-panel">
                  <ngx-charts-bar-vertical
                    [view]="view"
                    [scheme]="scheme"
                    [results]="summary.averagePriceInShops"
                    [gradient]="false"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="false"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxisLabel]='shopPriceXLabel|translate'
                    [yAxisLabel]='shopPriceYLabel|translate'
                    (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>
              </div>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 7" (opened)="setStep(7)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-shopWithCheapestPriceName'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.shopWithCheapestPriceName}}</span> <span class="summaryText">- {{'productdetails-shopWithCheapestPriceName-description'|translate}}</span>

              </ng-template>
              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 8" (opened)="setStep(8)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-shopWithMostExpensivePriceName'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.shopWithMostExpensivePriceName}}</span> <span class="summaryText">- {{'productdetails-shopWithMostExpensivePriceName-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 9" (opened)="setStep(9)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-averageAmountOnReceipt'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.averageAmountOnReceipt}}</span> <span class="summaryText">- {{'productdetails-averageAmountOnReceipt-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 10" (opened)="setStep(10)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-minAmountOnReceipt'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.minAmountOnReceipt}}</span> <span class="summaryText">- {{'productdetails-minAmountOnReceipt-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 11" (opened)="setStep(11)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-maxAmountOnReceipt'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.maxAmountOnReceipt}}</span> <span class="summaryText">- {{'productdetails-maxAmountOnReceipt-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 12" (opened)="setStep(12)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-percentageAmountOfTotalMoneySpent'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.percentageAmountOfTotalMoneySpent}} %</span> <span class="summaryText">- {{'productdetails-percentageAmountOfTotalMoneySpent-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 13" (opened)="setStep(13)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'productdetails-averageCostPerDay'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.averageCostPerDay}} {{currency}}</span> <span class="summaryText">- {{'productdetails-averageCostPerDay-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-end'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>

