<div *ngIf="isDataLoaded">
  <mat-tab-group>
    <mat-tab label="{{'productdetails-details'|translate}}">
      <div class="col-md-12" id="detailsdiv">
        <div class="col-md-6">
          <div>
            <h2>{{product.name}}</h2>
          </div>
          <div *ngIf="hasCategories">
            {{'productdetails-categories'|translate}}
          </div>
          <div *ngIf="!hasCategories">
            {{'productdetails-nocategories'|translate}}
          </div>
          <div *ngIf="hasCategories" class="col-md-offset-2" >
            <li *ngFor="let category of categories">
              <a (click)="CategoryDetails(category)" >
                {{category.name}}
              </a>
            </li>
            <br />
          </div>
        </div>
        <br>
        <div class="col-md-6">
          <div class="detailsbuttonsdiv">
            <a class="btn btn-default" (click)="GoBack()">{{'common-goback'|translate}}</a><br/>
            <a class="btn btn-warning" (click)="Edit()">{{'common-edit'|translate}}</a><br />
            <a class="btn btn-danger" (click)="Delete()">{{'common-delete'|translate}}</a><br />
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{'productdetails-statistics'|translate}}">
      <div id="statisticsdiv" >
        <div class="col-md-12 col-sm-12">

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.totalTimesBoughtAmount}}</p>
              <p>tyle razy kupiony</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.totalMoneySpent}}</p>
              <p>tyle wydane</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.maxPrice}}</p>
              <p>najwyzsza cena</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.minPrice}}</p>
              <p>najnizsza cena</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.averagePrice}}</p>
              <p>srednia cena</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.shopsAmount}}</p>
              <p>w tylu sklepach kupiono</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock" *ngIf="summary.averagePriceInShops.length>0">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="scheme"
                [results]="summary.averagePriceInShops"
                [gradient]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxisLabel]='shopPriceXLabel'
                [yAxisLabel]='shopPriceYLabel'
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
          </div>


          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.shopWithCheapestPrice}}</p>
              <p>w tym sklepie najtaniej bylo</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.shopWithMostExpensivePrice}}</p>
              <p>w tym sklepie najdrozej bylo</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.averageAmountOnReceipt}}</p>
              <p>tyle srednio sztuk kupowano</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.minAmountOnReceipt}}</p>
              <p>tyle najmniej na raz kupiono</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.maxAmountOnReceipt}}</p>
              <p>tyle najwiecej na raz kupiono</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.percentageAmountOfTotalMoneySpent}}</p>
              <p>tyle procentowo wydalismy na ten produkt porownujac do lacznych wydatkow</p>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 summaryBlock">
            <div class="col-md-12 col-sm-12 dailysummarytext">
              <p class="summaryNumber">{{summary.averageCostPerDay}}</p>
              <p>tyle srednio dziennie</p>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="col-md-12">
  </div>

</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>

