<form [formGroup]="productForm" id="dialog">
  <h2 mat-dialog-title>{{'receipt-addproduct'|translate}}</h2>
  <mat-dialog-content>
    <div class="createproductproduct" *ngIf="!newProductSwitch" formGroupName="existProduct">
      <mat-form-field >
        <mat-select  placeholder="{{'receipt-product'|translate}}" formControlName="existProductList">
          <mat-option *ngFor="let product of products" [value]="product.value">
            {{ product.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="existProductList.errors" >{{getExistProductErrorName()|translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="checkbox">
      <label><input id="newproductcheckbox" type="checkbox" (change)="newProductSwitch = !newProductSwitch"/>{{'receipt-newproduct'|translate}}</label>
    </div>
    <div id="newproduct" *ngIf="newProductSwitch" formGroupName="newProduct">
      <div class="createproductname">
        <mat-form-field style="width: 100%;">
          <input matInput formControlName="productName" required  placeholder="{{'receipt-name'|translate}}">
          <mat-error *ngIf="productName.errors" >{{getNewProductErrorName()|translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="createproductcategories col-md-12">
        <div class="col-md-8 receiptcategory">
          <mat-form-field >
            <mat-select  placeholder="{{'receipt-categories'|translate}}" formControlName="newProductCategories" multiple >
              <mat-option *ngFor="let category of multiSelectCategories" [value]="category.value">
                {{ category.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button mat-button type="button" id="addshopbutton" (click)="showCategoryDialog()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="createproductamount" formGroupName="amount">
      <mat-form-field style="width: 100%;">
        <input type="number"  matInput formControlName="productAmount" required  placeholder="{{'receipt-amount'|translate}}">
        <mat-error *ngIf="productAmount.errors" >{{getAmountErrorName()|translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="createproductprice" formGroupName="price">

      <mat-form-field style="width: 100%;">
        <input type="number"  matInput formControlName="productPrice" required  placeholder="{{'receipt-priceperunit'|translate}}">
        <mat-error *ngIf="productPrice.errors" >{{getPriceErrorName()|translate}}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="closeDialog(true)" >{{'common-cancel'|translate}}</button>
    <button [disabled]="newProductSwitch?productPrice.errors || productAmount.errors || productName.errors : productPrice.errors || productAmount.errors || existProductList.errors" mat-button mat-dialog-close (click)="addProduct()" >{{'common-add'|translate}}</button>
  </mat-dialog-actions>
</form>
