<form [formGroup]="loginForm">
  <div class="login" id="login">
    <div class="vertical-form" >
      <legend>
        {{'login-log-in'|translate}}
      </legend>

      <div formGroupName="login">
        <mat-form-field style="width: 100%;" >
          <input matInput formControlName="loginName" required placeholder="{{'login-login'|translate}}">
          <mat-error *ngIf="loginName.errors" >{{'login-name-length'|translate}}</mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="password">
        <mat-form-field style="width: 100%;" >
          <input matInput formControlName="passwordName" required placeholder="{{'login-password'|translate}}" type="password" >
          <mat-error *ngIf="passwordName.errors" >{{'password-name-length'|translate}}</mat-error>
        </mat-form-field>
      </div>

      <p><button style="font-size: 30px" [disabled]="loginName.errors || passwordName.errors" mat-button (click)="onLogin()">{{'login-log-in'|translate}}</button></p>
    </div>
    <div class='footer'>
      <p>
        {{'login-donthave'|translate}}
        <a (click)="onRegister()">{{'login-signup'|translate}}</a>
      </p>
    </div>
  </div>
</form>
