<div class="login">

  <div class="vertical-form sign-in" >
    <legend>
      Log In
    </legend>
    <input [(ngModel)]="user.login" type="text" placeholder="Login" label="false" spellcheck="false" class="is-sensitive" value="" id="user_email" />
    <input [(ngModel)]="user.password" placeholder="Password" label="false" autocomplete="off" class="is-sensitive" type="password" id="user_password" />
    <input type="submit" name="commit" value="Log In" (click)="onLogin()"/>
    <p><a (click)="onForgot()">Forgot password?</a></p>
  </div>
  <div class='footer'>
    <p>
      Don't have an account?
      <a (click)="onRegister()">Sign Up</a>
    </p>
  </div>
</div>
