<div class="row">
  <div class="col-md-12">
    <section>
      <hr />
      <div class="text-danger"></div>
      <div class="form-group">
        <label class="col-md-2 control-label">Login</label>
        <div class="col-md-10">
          <input [(ngModel)]="user.login" class="form-control" />
          <span class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
          <input type="password" [(ngModel)]="user.password" class="form-control" />
          <span class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <div class="checkbox">
            <p-checkbox label="Remember me?"></p-checkbox>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button (click)="onLogin()" type="submit" class="btn btn-default">Log in</button>
        </div>
      </div>
      <p>
        <a >Register as a new user?</a>
      </p>
      <p>
        <a >Forgot your password?</a>
      </p>
    </section>
  </div>
</div>
