<div *ngIf="dataLoaded">
  <div *ngIf="!login">
    <p >{{'receipts-login'|translate}}</p>
  </div>
  <div *ngIf="login">
    <div *ngIf="!dates">
      <p>{{'receipts-addfirst'|translate}}</p>
    </div>

    <div *ngIf="addToday || !dates" class="container">
      <div class="row dayheader">
        <div class="col-xs-6 col-md-8 datetextfield">
          <label class="datefield">{{todayString}}</label>
        </div>
      </div>
      <hr />
      <mat-card class="menu-card" (click)="onCreate()">
        <p>{{'receipts-add'|translate}} {{'receipts-new'|translate}}</p>
      </mat-card>
    </div>

    <div *ngIf="dates" >
      <div *ngFor="let date of datesToView" class="container">
        <div class="row dayheader">
          <div class="col-xs-6 col-md-8 datetextfield">
            <label class="datefield">{{date[0].purchaseDate.toLocaleDateString()}}</label>
          </div>
          <div class="col-xs-6 col-md-4 summarybutton">
            <button mat-raised-button (click)="onSummary(date[0].purchaseDate.toLocaleDateString())" >{{'receipts-summary'|translate}}</button>
          </div>
        </div>
        <hr />

        <mat-card class="menu-card" *ngFor="let receipt of date" (click)="onSelect(receipt)">
          <p>Sklep: {{receipt.shopName}}, Kwota: {{receipt.totalValue}} {{currency}}</p>
        </mat-card>

        <mat-card class="menu-card" (click)="onCreate(date)">
          <p>{{'receipts-add'|translate}} {{'receipts-new'|translate}}</p>
        </mat-card>
      </div>
    </div>
    <div class="col-md-12">
      <br>
    </div>
    <div class="col-md-12 morebuttondiv">
      <button *ngIf="loadButton" class="btn btn-default showmorebutton" (click)="getReceiptToView()">{{'receipts-load'|translate}}</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <hr>
  <br>
</div>
<div *ngIf="!dataLoaded">
  <mat-spinner></mat-spinner>
</div>

