.dayheader {
  height: 50px;
  margin-top: 30px;
}

.datetextfield {
  font-size: 30px;
  line-height: 50px;
}

.summarybutton { height: 100%; }

.summarybutton a {
  float: right;
  margin-top: 8px;
}

.receiptsummary {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
  height: 300px;
  margin: 20px;
  text-align: center;
  width: 180px;
}

.receiptsummary:hover { background-color: rgba(0, 0, 0, .8); }

.shoptextfield {
  color: white;
  width: 100%;
}

.shoptextfield h1 {
  height: 100%;
  margin-top: 50%;
}

.pricetextfield { color: white; }

.showmorebutton { width: 300px; }

.morebuttondiv { text-align: center; }

.receiptcreate {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
  display: table;
  margin: auto;
  min-height: 50vh;
  padding: 30px;
  text-align: center;
}

.tableheaders { width: 100%; }


.receiptproducts { width: 100%; }


.totalhr { width: 100%; }


.receiptshop {
  margin: auto;
  text-align: center;
  width: 100%;
}

.receiptshopbutton { display: inline-table; }

.receiptshoplabel {
  display: inline-table;
  width: 20%;
}

.receiptshopselect {
  display: inline-table;
  width: 60%;
}

.receiptshop select { display: inline-block; }

.receiptdate {
  margin: auto;
  text-align: center;
  width: 100%;
}

.receiptdate input { display: inline-block; }

.loading {
  font-size: 100px;
  text-align: center;
}

.noreceipts {
  font-size: 30px;
  text-align: center;
}

.maintitle {
  color: white;
  font-size: 60px;
}

.maintext { color: white; }

.mainheader {
  padding: 50px;
;
}

.mainphoto {
  /*background: url(../images/mainpage.jpg) no-repeat center center fixed;*/
  height: auto;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.registerbutton { text-align: right; }

.loginbutton { text-align: left; }

@media (max-width: 992px) {
  .registerbutton {
    margin: 20px;
    text-align: center;
  }

  .loginbutton {
    margin: 20px;
    text-align: center;
  }
}

.registerbutton a { font-size: 20px; }

.loginbutton a { font-size: 20px; }


.dailysummarydate {
  font-size: 70px;
  margin-top: 50px;
  text-align: center;
}

.dailysummarychart {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.dailysummarytext {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}


.dailysummarybuttons { text-align: center; }

.dailysummarybuttons a {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}
