<div *ngIf="isDataLoaded">
  <div class="col-md-12 planviewheader">
    <p>{{'plandetails-planfor'|translate}} {{planDetails.startDate.toLocaleDateString()}} - {{planDetails.endDate.toLocaleDateString()}}</p>
  </div>

  <div class="col-md-12">
    <div class="col-md-4 col-md-offset-1 planviewtextnochart">
      <p>{{'plandetails-youwanttospend'|translate}} {{planDetails.amount}} {{currency}}</p>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div class="incremental-counter" data-value="@Model.Amount"></div>

    </div>
  </div>

  <hr class="planhr"/>

  <div class="col-md-12 chartdiv">
    <div class="col-md-6">

    </div>
    <div class="col-md-4 col-md-offset-1 planviewtextchart">
      <p>{{'plandetails-tothisday'|translate}} {{planDetails.alreadySpent}} {{currency}} {{'plandetails-whichis'|translate}} {{planDetails.alreadySpentPercent}}%. {{'plandetails-youhave'|translate}} {{planDetails.moneyLeft}} {{currency}} {{'plandetails-left'|translate}}.</p>
    </div>
  </div>

  <hr class="planhr"/>

  <div class="col-md-12 chartdiv">
    <div class="col-md-4 col-md-offset-1 planviewtextchart">
      <p>{{planDetails.daysLeft}} {{'plandetails-daysleft'|translate}}</p>
    </div>
    <div class="col-md-6 col-md-offset-1">

    </div>
  </div>

  <hr class="planhr"/>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="incremental-counteraverage" data-value="@Model.Average"></div>
    </div>
    <div class="col-md-4 col-md-offset-1 planviewtextnochart">
      <p>{{'plandetails-onavarage'|translate}} {{planDetails.averageLeft}} zł {{'plandetails-aday'|translate}}</p>
    </div>
  </div>


  <div>
    <a class="btn btn-default" (click)="goToList()">{{'common-goback'|translate}}</a>
    <a *ngIf="canEdit" class="btn btn-info" (click)="goEdit()">{{'common-edit'|translate}}</a>
    <a *ngIf="canEdit" class="btn btn-danger" (click)="onRemove()">{{'common-delete'|translate}}</a>
  </div>

  <p-dialog header="{{'plandetails-delete'|translate}}" [(visible)]="showRemoveDialog" [width]="width" [height]="height" [draggable]="false" [modal]="true">

    <label>{{'plandetails-yousure'|translate}}</label>
    <p-footer>
      <button type="button" pButton (click)="ConfirmDelete()" label="{{'common-delete'|translate}}"></button>
      <button type="button" pButton (click)="CancelDelete()" label="{{'common-cancel'|translate}}"></button>
    </p-footer>
  </p-dialog>
</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>

