<div *ngIf="isDataLoaded">
  <div class="col-md-12 planviewheader">
    <p>{{'plandetails-planfor'|translate}} {{planDetails.startDate.toLocaleDateString()}} - {{planDetails.endDate.toLocaleDateString()}}</p>
  </div>

  <div class="col-md-12 col-sm-12">

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.amount}} {{currency}}</p>
        <p>tyle ustaliles</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.moneyLeft}}</p>
        <p>tyle zostalo</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.moneyLeftPercentage}}</p>
        <p>tyle zostalo procentowo</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.moneySpentPercentage}}</p>
        <p>tyle procentowo wydales</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.mostPopularProduct}}</p>
        <p>najpopularniejszy produkt</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.mostExpensiveProduct}}</p>
        <p>najdrozszy produkt</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.mostPopularCategory}}</p>
        <p>najpopularniejsza kategoria</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock" *ngIf="summary.moneySpentOnCategories.length>0">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="scheme"
          [results]="summary.moneySpentOnCategories"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]='eachCategoriesSpentXLabel'
          [yAxisLabel]='eachCategoriesSpentYLabel'
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.averageMoneyLeftPerDay}}</p>
        <p>tyle średnio na dzien pozostalo</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.productsBoughtAmount}}</p>
        <p>tyle różnych przedmiotów kupiono</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 summaryBlock">
      <div class="col-md-12 col-sm-12 dailysummarytext">
        <p class="summaryNumber">{{summary.averageMoneySpentPerDay}}</p>
        <p>tyle średnio dziennie wydano</p>
      </div>
    </div>
  </div>


  <div>
    <a class="btn btn-default" (click)="goToList()">{{'common-goback'|translate}}</a>
    <a *ngIf="canEdit" class="btn btn-info" (click)="goEdit()">{{'common-edit'|translate}}</a>
    <a *ngIf="canEdit" class="btn btn-danger" (click)="onRemove()">{{'common-delete'|translate}}</a>
  </div>

  <p-dialog header="{{'plandetails-delete'|translate}}" [(visible)]="showRemoveDialog" [width]="width" [height]="height" [draggable]="false" [modal]="true">

    <label>{{'plandetails-yousure'|translate}}</label>
    <p-footer>
      <button type="button" pButton (click)="ConfirmDelete()" label="{{'common-delete'|translate}}"></button>
      <button type="button" pButton (click)="CancelDelete()" label="{{'common-cancel'|translate}}"></button>
    </p-footer>
  </p-dialog>
</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>

