<div *ngIf="isDataLoaded">
  <div *ngIf="!canEdit">
    <h1>{{'planedit-sorry'|translate}}</h1>
  </div>
  <div *ngIf="canEdit">
    <form [formGroup]="editForm">
      <div formGroupName="amount">
        <mat-form-field>
          <input matInput formControlName="amountValue"  required  type="number" min="0" placeholder="{{'plan-money'|translate}}"  />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="amountValue.errors" >{{GetAmountErrorName()|translate}}</mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="startDate">
        <mat-form-field>
          <input matInput formControlName="startDateValue" required [matDatepicker]="startPicker" placeholder="{{'plan-startdate'|translate}}"   />
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error *ngIf="startDateValue.errors" >{{GetStartDateErrorName()|translate}}</mat-error>
        </mat-form-field>
      </div>
      <div formGroupName="endDate">
        <mat-form-field>
          <input matInput formControlName="endDateValue" required [matDatepicker]="endPicker" placeholder="{{'plan-enddate'|translate}}"   />
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error *ngIf="endDateValue.errors" >{{GetEndDateErrorName()|translate}}</mat-error>
        </mat-form-field>
      </div>
      <button  mat-raised-button color="primary" (click)="goToDetails()">{{'common-goback'|translate}}</button>
      <button [disabled]="amountValue.errors || startDateValue.errors || endDateValue.errors" mat-raised-button (click)="onSave()" >{{'common-save'|translate}}</button>
    </form>
  </div>
</div>

<div>
</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>


