<div *ngIf="isDataLoaded">
  <div *ngIf="!canEdit">
    <h1>{{'planedit-sorry'|translate}}</h1>
  </div>
  <div *ngIf="canEdit">
    <p>{{'planedit-iwanttospend'|translate}}</p>
    <input [(ngModel)]="plan.amount" type="number" min="0" class="form-control" />
    <p>{{'planedit-starting'|translate}}</p>
    <p-calendar dateFormat="dd.mm.yy" placeholder="{{'planedit-date'|translate}}" [(ngModel)]="plan.startDate"></p-calendar>
    <p>{{'planedit-to'|translate}}</p>
    <p-calendar dateFormat="dd.mm.yy" placeholder="{{'planedit-date'|translate}}" [(ngModel)]="plan.endDate"></p-calendar>
    <br>
    <input type="submit" value="{{'common-save'|translate}}" class="btn btn-success" (click)="onSave()" />
  </div>
</div>

<div>
  <a (click)="goToDetails()">{{'common-goback'|translate}}</a>
</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>


