<div *ngIf="isDataLoaded">
  <br/>

  <ul class="nav nav-tabs detailstab">
    <li role="presentation" [ngClass]="details ? 'active' : ''" ><a id="detailstab" (click)="SetDetails()">{{'categorydetails-details'|translate}}</a></li>
    <li role="presentation" [ngClass]="details ? '' : 'active'"><a id="statisticstab" (click)="SetStatistics()">{{'categorydetails-statistics'|translate}}</a></li>
  </ul>
  <br />
  <div id="statisticsdiv" *ngIf="!details">
    {{'categorydetails-statistics'|translate}}
  </div>
  <div class="col-md-12" id="detailsdiv" *ngIf="details">
    <div class="col-md-6">
      <div>
        <h2>
          {{category.name}}
        </h2>
      </div>
      <div *ngIf="hasProducts">
        {{'categorydetails-productsfromcategory'|translate}}
      </div>
      <div *ngIf="!hasProducts">
        {{'categorydetails-noproducts'|translate}}
      </div>
      <div class="col-md-offset-2">
        <li *ngFor="let product of products">
          <a (click)="ProductDetails(product)" >
            {{product.name}}
          </a>
        </li>
        <br />
      </div>
    </div>
    <div class="col-md-6">
      <div class="detailsbuttonsdiv">
        <a class="btn btn-default" (click)="GoBack()">{{'common-goback'|translate}}</a><br/>
        <a class="btn btn-warning" (click)="Edit()">{{'common-edit'|translate}}</a><br />
        <a class="btn btn-danger" (click)="Delete()">{{'common-delete'|translate}}</a><br />
      </div>
    </div>
  </div>
  <div class="col-md-12">
  </div>

</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>
