<div *ngIf="isDataLoaded">
  <br/>

  <ul class="nav nav-tabs detailstab">
    <li role="presentation" [ngClass]="details ? 'active' : ''" ><a id="detailstab" (click)="SetDetails()">Details</a></li>
    <li role="presentation" [ngClass]="details ? '' : 'active'"><a id="statisticstab" (click)="SetStatistics()">Statistics</a></li>
  </ul>
  <br />
  <div id="statisticsdiv" *ngIf="!details">
    Statistics
  </div>
  <div class="col-md-12" id="detailsdiv" *ngIf="details">
    <div class="col-md-6">
      <div>
        <h2>
          {{category.name}}
        </h2>
      </div>
      <div *ngIf="hasProducts">
        Products from this category:
      </div>
      <div *ngIf="!hasProducts">
        No products were found with this category.
      </div>
      <div class="col-md-offset-2">
        <li *ngFor="let product of products">
          <a (click)="ProductDetails(product)" >
            {{product.name}}
          </a>
        </li>
        <br />
      </div>
    </div>
    <div class="col-md-6">
      <div class="detailsbuttonsdiv">
        <a class="btn btn-default" (click)="GoBack()">Back to List</a><br/>
        <a class="btn btn-warning" (click)="Edit()">Edit</a><br />
        <a class="btn btn-danger" (click)="Delete()">Delete</a><br />
      </div>
    </div>
  </div>
  <div class="col-md-12">
  </div>
  <p-dialog header="Edit category" [(visible)]="editDialogDisplay" [width]="300">

    <label>Edit category</label>
    <div>
      <input type="text" [(ngModel)]="category.name">
    </div>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="ConfirmEdit()" label="Save"></button>
      <button type="button" pButton icon="fa-close" (click)="CancelEdit()" label="Cancel"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="Remove category" [(visible)]="removeDialogDisplay" [width]="300">

    <label>Are you sure you want to delete this category?</label>
    <p-footer>
      <button type="button" pButton icon="fa-check" (click)="ConfirmDelete()" label="Delete"></button>
      <button type="button" pButton icon="fa-close" (click)="CancelDelete()" label="Cancel"></button>
    </p-footer>
  </p-dialog>

</div>
