<div *ngIf="isDataLoaded">

  <div class="col-md-12">
    <div class="col-md-3 details-menu">
      <h2 class="detailsName">{{category.name}}</h2>
      <a mat-raised-button color="primary" (click)="Edit()">{{'common-edit'|translate}}</a>
      <a mat-raised-button color="warn" (click)="Delete()">{{'common-delete'|translate}}</a>
      <a mat-raised-button color="basic"  (click)="GoBack()">{{'common-goback'|translate}}</a>

      <div class="detailsList">
        <div *ngIf="hasProducts" class="detailsListItems">
          <p>{{'categorydetails-productsfromcategory'|translate}}:</p>
          <mat-list>
            <a mat-list-item (click)="ProductDetails(product)" *ngFor="let product of products">
              <mat-icon matListIcon>label</mat-icon>
              {{product.name}}
            </a>
          </mat-list>
        </div>
        <div *ngIf="!hasProducts">
          {{'categorydetails-noproducts'|translate}}
        </div>
        <br />
      </div>
    </div>

    <div class="col-md-9 statistics-menu">
      <div class="col-md-12 statistics-menu-dates">
        <span>{{'common-startdate'|translate}}:</span>
        <mat-form-field>
          <input matInput [matDatepicker]="startPicker" placeholder="{{'common-startdate'|translate}}" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <span>{{'common-enddate'|translate}}:</span>
        <mat-form-field>
          <input matInput [matDatepicker]="endPicker" placeholder="{{'common-enddate'|translate}}" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        <a mat-button color="basic"  (click)="SetDates()">{{'common-setdates'|translate}}</a>
      </div>
      <div class="col-md-12">
        <div *ngIf="summary.productsAmount==0">
          {{'common-statistics-empty'|translate}}
        </div>
        <div *ngIf="summary.productsAmount>0">
          <mat-accordion class="example-headers-align" [multi]="true">
            <mat-expansion-panel class="statistics-panel" [expanded]="step === 0" (opened)="setStep(0)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'categorydetails-productsAmount'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.productsAmount}} </span> <span class="summaryText">- {{'categorydetails-productsAmount-description'|translate}} </span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 1" (opened)="setStep(1)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'categorydetails-moneySpent'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.moneySpent}} {{currency}} </span> <span class="summaryText">- {{'categorydetails-moneySpent-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 2" (opened)="setStep(2)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'categorydetails-mostPopularShopName'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.mostPopularShopName}}</span> <span class="summaryText">- {{'categorydetails-mostPopularShopName-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 3" (opened)="setStep(3)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'categorydetails-moneySpentOnCategoryPerDay'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <span class="summaryNumber">{{summary.moneySpentOnCategoryPerDay}} {{currency}}</span> <span class="summaryText">- {{'categorydetails-moneySpentOnCategoryPerDay-description'|translate}}</span>
              </ng-template>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-next'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel class="statistics-panel" [expanded]="step === 4" (opened)="setStep(4)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{'categorydetails-moneySpentInShops'|translate}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="chart-panel">
                <ngx-charts-bar-vertical
                  [view]="view"
                  [scheme]="scheme"
                  [results]="summary.moneySpentInShops"
                  [gradient]="false"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="false"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [xAxisLabel]='moneySpentXLabel'
                  [yAxisLabel]='moneySpentYLabel'
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
              </div>

              <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">{{'common-previous'|translate}}</button>
                <button mat-button color="primary" (click)="nextStep()">{{'common-end'|translate}}</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
  </div>

</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>
