<form [formGroup]="categoryForm">
  <h2 mat-dialog-title>{{'categorydetails-editcategory'|translate}}</h2>
  <div formGroupName="name">
    <mat-dialog-content >
      <mat-form-field style="width: 100%;">
        <input matInput formControlName="categoryName" required placeholder="{{'categories-name'|translate}}">
        <mat-error *ngIf="name.errors" >{{getErrorName()|translate}}</mat-error>
      </mat-form-field>
    </mat-dialog-content>
  </div>
  <mat-dialog-actions>
    <button [disabled]="name.errors" mat-button mat-dialog-close (click)="ConfirmEdit()">{{'common-save'|translate}}</button>
    <button mat-button mat-dialog-close (click)="Close()">{{'common-cancel'|translate}}</button>
  </mat-dialog-actions>
</form>
