<div class="receiptcreate">

  <div class=" col-md-5 col-sm-12 col-xs-12">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <label>{{'receipt-startdate'|translate}}</label>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 date-div">
      <mat-form-field>
        <input matInput [(ngModel)]="receiptStartDate" [matDatepicker]="startPicker" placeholder="{{'receipt-startdate'|translate}}" (dateChange)="updateMinDate()">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker ></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
      <label>{{'receipt-enddate'|translate}}</label>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 date-div">
      <mat-form-field>
        <input matInput [(ngModel)]="receiptEndDate" [min]="minEndDate"  [matDatepicker]="endPicker" placeholder="{{'receipt-enddate'|translate}}">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker ></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="col-md-1 col-sm-0 col-xs-0">
    <div class="vertical-line-big"></div>
  </div>

  <div class=" col-md-6 col-sm-12 col-xs-12">
    <div class=" col-md-2 col-sm-12 col-xs-12">
      <label>{{'receipt-shop'|translate}}</label>
    </div>
    <div class=" col-md-8 col-sm-8 col-xs-8 shop-div">
      <mat-form-field style="width: 100%;">
        <mat-select  placeholder="{{'shops-name'|translate}}" [(ngModel)]="receiptShop">
          <mat-option *ngFor="let shop of shops" [value]="shop.value">
            {{ shop.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class=" col-md-2 col-sm-4 col-xs-4 shop-div">
      <button mat-button type="button" id="addshopbutton" (click)="showShopDialog()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>

    <div class=" col-md-2 col-sm-12 col-xs-12">
      <label>{{'receipt-cycle'|translate}}</label>
    </div>
    <div class=" col-md-8 col-sm-8 col-xs-8">
      <input min="1" type="number" class="form-control chosen-single-select cycleInput" [(ngModel)]="receiptCycle" (keyup)="checkCycle()"/>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 hrDiv">
    <hr class="hrH">
  </div>

  <div class="tableheaders col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-5 col-md-offset-1">
      <label>{{'receipt-name'|translate}}</label>
    </div>
    <div class="col-md-2">
      <label>{{'receipt-amount'|translate}}</label>
    </div>
    <div class="col-md-2">
      <label>{{'receipt-price'|translate}}</label>
    </div>
    <div class="col-md-2">
      <label>{{'receipt-total'|translate}}</label>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 hrDiv">
    <hr class="hrH">
  </div>


  <div class="receiptproducts col-md-12">
    <div class="productslinecreate" *ngFor="let product of newProducts">
      <div class="col-md-1 buttonproductcreate">
        <button (click)="removeProduct(product.ID)" class="btn btn-danger btn-xs" type="button" id="removeproductbutton"><small><span class="glyphicon glyphicon-remove"></span></small></button>
      </div>
      <div class="col-md-5 col-sm-3">
        {{product.Name.substring(0,60)}}
      </div>
      <div class="col-md-2 col-sm-3">
        <input pInputText  type="number" [(ngModel)]="product.Amount" (keyup)="updateProductValues(product)" (change)="updateProductValues(product)">
      </div>
      <div class="col-md-2 col-sm-2">
        <input pInputText  type="number" [(ngModel)]="product.Price" (keyup)="updateProductValues(product)"  (change)="updateProductValues(product)"> {{currency}}
      </div>
      <div class="col-md-2 col-sm-2">
        {{product.TotalValue}} {{currency}}
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 hrDiv">
    <hr class="hrTotal">
  </div>

  <div class="productstotal col-md-12 col-sm-12">
    <div class="col-md-offset-9 col-md-1">
      <label>{{'receipt-total'|translate}}:</label>
    </div>
    <div class="col-md-2">
      <label>{{receiptTotal}} {{currency}}</label>
    </div>
  </div>

  <div class="receiptaddproduct col-md-12 col-sm-12">
    <button type="button" id="opendialogbutton" (click)="showProductDialog()" class="btn btn-success">{{'receipt-addproduct'|translate}}</button>
  </div>

  <div class="receiptbuttons col-md-12 col-sm-12">
    <button mat-raised-button color="warn" (click)="onCancel()">{{'common-cancel'|translate}}</button>
    <button class="receipt-save-button" mat-raised-button [disabled]="newProducts.length==0"  (click)="save()">{{'common-save'|translate}}</button>
  </div>
</div>
