
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --main-bg: rgba(0, 0, 0, .7);
  --text-color: white;
  --receipt-bg:rgba(0, 0, 0, .5);
  --receipt-border: white;
  --inputs-text-color: white;
  --login-text-color: black;
  --tab-color: white;
}
a :hover{
  cursor: pointer;
}

body {
  background-color: var(--main-bg);
  color: var(--text-color);;
  padding-bottom: 20px;
  padding-top: 50px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 280px; }

/* Carousel */

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */

.btn-bracketed::before {
  content: "[";
  display: inline-block;
  padding-right: 0.5em;
}

.btn-bracketed::after {
  content: "]";
  display: inline-block;
  padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption { display: none; }
}


/*Home index css*/

.dayheader {
  height: 50px;
  margin-top: 30px;
}

.datetextfield {
  font-size: 30px;
  line-height: 50px;
}

.summarybutton { height: 100%; }

.summarybutton a {
  float: right;
  margin-top: 8px;
}

.receiptsummary {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
  height: 300px;
  margin: 20px;
  text-align: center;
  width: 180px;
}

.receiptsummary:hover { background-color: rgba(0, 0, 0, .8); }

.shoptextfield {
  color: white;
  width: 100%;
}

.shoptextfield h1 {
  height: 100%;
  margin-top: 50%;
}

.pricetextfield { color: white; }

.showmorebutton { width: 300px; }

.morebuttondiv { text-align: center; }

.receiptcreate {
  background-color:var(--receipt-bg);
  border: 1px solid var(--receipt-border);
  margin: auto;
  min-height: 50vh;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
}

.receiptbuttons{
  text-align: center;
}
.receiptcreate label{
  line-height: 30px;
}

.ui-calendar{
  width: 100%;
  max-width: none;
  padding-right: 30px;
}

.ui-inputtext{
  width: 100%;
  max-width: none;
  padding-right: 30px;
}

.date-div{
  height: 35px;
}

.shop-div{
  height: 35px;
}

.receiptcreate select{
  width: 100%;
  max-width: none;
}

.cycleInput{
  max-width: none;
}

.vertical-line{
  border-left:1px solid #FFF;
  height:85px;
  margin-top: -30px;
  margin-bottom: -20px;
  margin-left: 25px;
}

.vertical-line-big
{
  border-left:1px solid #FFF;
  height:120px;
  margin-top: -30px;
  margin-bottom: -20px;
  margin-left: 25px;
}

.tableheaders {
  width: 100%;
  margin-top: -15px;
  margin-bottom: -15px;
}


.receiptproducts {
  width: 100%;
}

.productslinecreate input{
  background: none;
  width: 90%;
  border-color: white;
  border-width: 1px;
  border-style: groove;
}


.hrDiv{
  padding-right: 0;
  padding-left: 0;
}

.hrH {
  width: 100%;
}

.hrTotal {
  border: 0;
  border-bottom: 2px dashed #8c8b8b;
  background-color: rgba(0, 0, 0, .5);
  width: 25%;
  float: right;
}

.receiptshopbutton { display: inline-table; }


.loading {
  font-size: 100px;
  text-align: center;
}

.noreceipts {
  font-size: 30px;
  text-align: center;
}

.maintitle {
  color: white;
  font-size: 60px;
}

.maintext { color: white; }

.mainheader {
  padding: 50px;
;
}

.mainphoto {
  background: url(assets/images/mainpage.jpg) no-repeat center center fixed;
  height: auto;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.registerbutton { text-align: right; }

.loginbutton { text-align: left; }

@media (max-width: 992px) {
  .registerbutton {
    margin: 20px;
    text-align: center;
  }

  .loginbutton {
    margin: 20px;
    text-align: center;
  }
}

.registerbutton a { font-size: 20px; }

.loginbutton a { font-size: 20px; }


.dailysummarydate {
  font-size: 70px;
  margin-top: 50px;
  text-align: center;
}

.dailysummarychart {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.dailysummarytext {
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}


.dailysummarybuttons { text-align: center; }

.dailysummarybuttons a {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

/*PLAN*/

.planviewheader {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.planviewbig {
  font-size: 50px;
  text-align: center;
}

.planviewtext {
  font-size: 30px;
  text-align: center;
}

.planviewtextchart {
  height: 400px;
  line-height: 410px;
  text-align: center;
}

.planviewtextchart p {
  line-height: 50px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.planviewtextnochart {
  height: 200px;
  line-height: 210px;
  text-align: center;
}

.planviewtextnochart p {
  line-height: 50px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.planhr {
  border: 1px solid white;
  width: 100%;
}


.incremental-counter, .incremental-counteraverage {
  text-align: center;
  margin-top: 30px;
}

.incremental-counter .num, .incremental-counteraverage .num {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  color: black;
  display: inline-block;
  height: 104px;
  line-height: 102px;
  margin: 0 4.5px;
  position: relative;
  text-align: center;
  top: -1px;
  width: 90px;
  font-size: 95px;
  font-size: 5.72625em;
  font-weight: 700;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.45);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.incremental-counter .num::before, .incremental-counteraverage .num::before {
  background: black;
  content: "";
  display: block;
  height: 1px;
  left: -1px;
  margin: -0.5px 0 0;
  position: absolute;
  right: -1px;
  top: 50%;
  width: auto;
}

#removeproductbutton {
}

.receiptdetails {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid white;
  display: table;
  margin: auto;
  min-height: 50vh;
  padding: 30px;
  text-align: center;
  max-width: 60vh;
}

.receiptshopdetails, .receiptdatedetails {
  text-align: right;
  display: inline-table;
  width: 60%;
}

.receiptdatelabeldetails, .receiptshoplabeldetails {
  text-align: left;
  display: inline-table;
  width: 30%;
}

.priceproductcreate, .producttotalcreate {
  padding-left: 25px;
  text-align: left;
  padding-right: 0;
  padding-bottom: 10px;
}
.nameproductcreate {
  padding-left: 28px;
  text-align: left;
  padding-right: 0;
  padding-bottom: 10px;
}
.amountproductcreate {
  padding-left: 32px;
  text-align: left;
  padding-right: 0;
  padding-bottom: 10px;
}
.buttonproductcreate {
  padding-left: 25px;
  padding-right: 0;
  padding-bottom: 0;
}
.productslinecreate {
  height: 30px;
}

.productname{
  float: left;
  width: 90px;
  text-align: left;

}

.productamount{
  text-align: left;
  float: left;
  width: 70px;
}

.productprice{
  text-align: left;
  float: left;
  width: 45px;
}

.producttotal{
  text-align: left;
  float: left;
  width: 50px;
}

.listproduct {
  padding-top: 20px;
}

.receiptaddproduct {
  text-align: center;
  margin-bottom: 30px;
}

.productstotal {
  text-align: left;
}

.searchbox {
  display: inline;
}

.shopmodal input{
  display: block;
}

/*!* DIALOG MAIN CONTAINER *!*/
.ui-dialog.ui-widget-content {
  border: none;
  background-color: rgba(0,0,0,0.9) !important;
}
/* STYLE AROUND THE CLOSE (X) BUTTON */
.ui-dialog-titlebar-close.ui-state-default,
.ui-dialog-titlebar-close.ui-state-hover {
  outline: none;
  background: none;
  border: none;
}
/* DIALOG TITLE BAR */
.ui-dialog .ui-widget-header {
  border: 0;
  background: none
}

.ui-dialog {
  z-index: 1060 !important;
}

.ui.dialog.ui-widget, .ui-dialog-content{

  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p-footer{

  position: absolute !important;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-dialog-content label{
  color: white;
}

.ui-widget-content {

  background: none !important;
  border: none !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  position: absolute;
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#productdialog, #shopdialog {
  position: relative;
}

#addproductform, #addshopform {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
#addproductform p, #addshopform p {
  color: white;
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}
#addproductform label, #addshopform label {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.checkbox label {
  font-size: 15px !important;
}
.forminput {
  width: 250px;
  display: table;
  border-radius: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  border: none;
  padding-left: 10px;
  font-size: 1.2em !important;
}

.chosen-container {
  display: table !important;
}

.chosen-container-multi .chosen-choices {
  border-radius: 5px;
}

.editcategories {
  width: 100% !important;
}

.detailstab a {
  color: white;
}

.listpanel {
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.listpanel span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-bottom: 30px;
  color: white;
}

.listpanel:hover {
  background-color: rgba(0, 0, 0,1);
}

.panelmaindiv {
  margin-top: 20px;
}

#detailsdiv {
  margin-bottom: 50px;
}

.detailsbuttonsdiv a{
  width: 50%;
  margin: auto;
  display: block;
}

.detailsviewnochart {
  text-align: center;
  height: 200px;
  line-height: 200px;
  font-size: 30px;
}

.detailsviewchart {
  text-align: center;
  height: 400px;
  line-height: 400px;
  font-size: 30px;
}

.login {
  font-family: "proxima-nova";
  padding: 0;
  margin: 0;
}

.login * {
  box-sizing: border-box;
  font-family: "proxima-nova", helvetica;
}

.login br.only-mobile {
  display: none;
}

.login .logo {
  display: block;
  height: 75px;
  padding-top: 40px;
  margin: 0 auto 30px;
}

.login .logo.registration-message {
  margin-bottom: 0;
}

.login a, .login a:visited {
  text-decoration: underline;
  color: inherit;
}

.login ul.notice {
  margin: 0;
  border: 0;
  width: 100%;
  text-align: center;
  list-style-position: inside;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
}

.login ul.notice.errors {
  background-color: #EDE04D;
  color: #212200;
}

.login ul.notice.success {
  background-color: #15CD72;
  color: white;
}

.login ul.notice li {
  padding: 5px 0;
}

.login p.registration-message {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 15px 0 40px;
}

.login .vertical-form {
  margin: 0 auto;
  width: 470px;
  padding: 40px;
  border-radius: 3px;
  background: white;
}

.login .vertical-form legend {
  text-align: center;
  font-weight: 300;
  color: #444;
  margin: 0 auto 45px;
  font-size: 35px;
  line-height: 38px;
  text-transform: none;
  letter-spacing: 0;
}

.login .vertical-form legend:after {
  display: none;
}

.login .vertical-form ::-webkit-input-placeholder {
  color: #afafaf;
  font-size: 17px;
}


.login .vertical-form input[type='text']:focus, .login .vertical-form input[type='email']:focus, .login .vertical-form input[type='password']:focus, .login .vertical-form input[type='number']:focus, .login .vertical-form input[type='submit']:focus {
  border-color: #E7E7E7;
  box-shadow: none;
}

.login .vertical-form input[type='submit'] {
  color: white;
  background: #15CD72;
  border: 0;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
  height: auto;
  -webkit-appearance: none;
}

.login .vertical-form input:hover[type='submit'] {
  background-color: #0CB863;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.login .vertical-form p {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  color: #666;
}

.login .vertical-form p a {
  color: #0069ff;
  text-decoration: none;
}

.login .vertical-form.sign-in, .login .vertical-form.register {
  padding-bottom: 20px;
}

.login .vertical-form.sign-in p, .login .vertical-form.register p {
  padding-top: 8px;
}

.login .vertical-form.tfa-form legend, .login .vertical-form.verify-form legend {
  margin-bottom: 15px;
}

.login .vertical-form.tfa-form + .footer p, .login .vertical-form.verify-form + .footer p {
  margin-bottom: 5px;
}

.login .footer {
  text-align: center;
  color: white;
  margin: 20px auto;
}

.login .footer a {
  font-weight: 600;
  border: 0;
  padding: 0;
}

.login .footer a:hover {
  color: #E7F1F9;
}

.login .footer p {
  margin-bottom: 40px;
}

@media screen and (max-width: 550px) {

  .login .logo {
    height: 65px;
    padding-top: 30px;
  }

  .login p.oauth {
    margin: 15px 0 25px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
  }

  .login .vertical-form {
    width: 100%;
    border-radius: 0;
    padding: 40px 20px;
  }
}
@media screen and (max-width: 350px) {
  .login br.only-mobile {
    display: inline;
  }
}

.registerSelect{
  width: 100%;
}

.account-container {
  display: flex;
  flex-direction: column;

}
.account-container span{
  color: var(--inputs-text-color);
}

.mat-select-value-text{
  color: var(--inputs-text-color);
}
.accountpage
{
  color: white;
}

#changepassword label{
  color: var(--inputs-text-color) ;
}

#changepassword input{
  color: var(--inputs-text-color) ;
}

#changepassword span{
  color: var(--inputs-text-color) ;
}

#receiptCreateButton{
  color: black !important;
}

#receipt label{
  color: var(--inputs-text-color) ;
}

#receipt input{
  color: var(--inputs-text-color) ;
}

#receipt span{
  color: var(--inputs-text-color) ;
}

#login label{
  color: var(--login-text-color) ;
}

#login input{
  color: var(--login-text-color) ;
}

#login span{
  color: var(--login-text-color) ;
}


#dialog label{
  color: var(--login-text-color);
}

#dialog input{
  color: var(--login-text-color);
}

#dialog span{
  color: var(--login-text-color);
}

.passwordchange input{
  color: black !important;
}

.warning-info{
  color: red;
}
.receipt-save-button{
  color: black !important;
}

.summaryNumber {
  font-size: 30px;
}

.summaryBlock {
  height: 400px;
}

.mat-tab-label{
  color: var(--tab-color);
}

.details-menu {
  text-align: center;
}

.details-menu a{
  margin-top: 5px;
  width: 100%;
}

.statistics-menu {
  border-left: 2px solid black;
}

.statistics-panel{
  margin-bottom: 5px !important;
  margin-top: 5px !important;;
}

.statistics-menu-dates
{
  text-align: center;
}

.detailsName {
  font-weight: bold;
  font-size: 35px;
  text-align: left;
}

.detailsList {
  margin-top: 20px;
  text-align: left;
}

.detailsListItems{
  text-decoration: none;
  margin-top: 20px;
}

.detailsListItems p{
  font-size: 20px;
}

.summaryText {
  font-size: 20px;
}

.chart-panel {
  height: 400px;
}
