<div class="accountpage" id="changepassword">
  <mat-tab-group>
    <mat-tab label="{{'account-account'|translate}}">
      <div class="account-container">
          <mat-form-field >
            <mat-select  placeholder="{{'account-theme'|translate}}" [(ngModel)]="theme" >
              <mat-option *ngFor="let theme of themes" [value]="theme.value">
                {{ theme.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <mat-select  placeholder="{{'account-currency'|translate}}" [(ngModel)]="currency" >
              <mat-option *ngFor="let currency of currencies" [value]=  "currency.value">
                {{ currency.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  >
            <mat-select  placeholder="{{'account-language'|translate}}" [(ngModel)]="language" >
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{ language.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button type="button" pButton (click)="saveAccount()" label="{{'common-save'|translate}}"></button>
      </div>
    </mat-tab>
    <mat-tab label="{{'account-password'|translate}}" >
      <form [formGroup]="passwordForm">
        <div class="account-container">
          <div formGroupName="oldPassword">
            <mat-form-field style="width: 100%;">
              <input type="password" matInput formControlName="oldPasswordName" required placeholder="{{'account-oldpassword'|translate}}">
              <mat-error *ngIf="oldPasswordName.errors" >{{getOldPasswordErrorName()|translate}}</mat-error>
            </mat-form-field>
          </div>
          <div formGroupName="newPassword">
            <mat-form-field style="width: 100%;">
              <input type="password" matInput formControlName="newPasswordName" required placeholder="{{'account-newpassword'|translate}}">
              <mat-error *ngIf="newPasswordName.errors" >{{getNewPasswordErrorName()|translate}}</mat-error>
            </mat-form-field>
          </div>
          <div formGroupName="reNewPassword">
            <mat-form-field style="width: 100%;">
              <input type="password" matInput formControlName="reNewPasswordName" required placeholder="{{'account-retypepassword'|translate}}">
              <mat-error *ngIf="reNewPasswordName.errors" >{{getRePasswordErrorName()|translate}}</mat-error>
            </mat-form-field>
          </div>
          <button mat-button [disabled]="oldPasswordName.errors || newPasswordName.errors || reNewPasswordName.errors" pButton (click)="ConfirmChangePassword()" label="{{'common-save'|translate}}"></button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
