<div class="accountpage">
  <mat-tab-group>
    <mat-tab label="{{'account-account'|translate}}">
      <div class="account-container">
          <mat-form-field >
            <mat-select  placeholder="{{'account-theme'|translate}}" [(ngModel)]="theme" >
              <mat-option *ngFor="let theme of themes" [value]="theme.value">
                {{ theme.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <mat-select  placeholder="{{'account-currency'|translate}}" [(ngModel)]="currency" >
              <mat-option *ngFor="let currency of currencies" [value]=  "currency.value">
                {{ currency.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  >
            <mat-select  placeholder="{{'account-language'|translate}}" [(ngModel)]="language" >
              <mat-option *ngFor="let language of languages" [value]="language.value">
                {{ language.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button type="button" pButton (click)="saveAccount()" label="{{'common-save'|translate}}"></button>
      </div>
    </mat-tab>
    <mat-tab label="{{'account-password'|translate}}" >
      <div class="passwordchange">
        <div>
          <label>{{'account-oldpassword'|translate}}</label>
          <input type="password" class="forminput" placeholder="{{'account-oldpassword'|translate}}" [(ngModel)]="passwordChange.oldPassword" />
        </div>
        <div>
          <label>{{'account-newpassword'|translate}}</label>
          <input type="password" class="forminput" placeholder="{{'account-newpassword'|translate}}" [(ngModel)]="passwordChange.newPassword" />
        </div>
        <div>
          <label>{{'account-retypepassword'|translate}}</label>
          <input type="password" class="forminput" placeholder="{{'account-newpassword'|translate}}" [(ngModel)]="passwordChange.reNewPassword" />
        </div>
        <button type="button" pButton (click)="ConfirmChangePassword()" label="{{'common-save'|translate}}"></button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
