<div *ngIf="isDataLoaded">
  <br/>
  <ul class="nav nav-tabs detailstab">
    <li role="presentation" [ngClass]="details ? 'active' : ''" ><a id="detailstab" (click)="SetDetails()">{{'shopdetails-details'|translate}}</a></li>
    <li role="presentation" [ngClass]="details ? '' : 'active'"><a id="statisticstab" (click)="SetStatistics()">{{'shopdetails-statistics'|translate}}</a></li>
  </ul>
  <br />
  <div id="statisticsdiv" *ngIf="!details">
    {{'shopdetails-statistics'|translate}}
  </div>
  <div class="col-md-12" id="detailsdiv" *ngIf="details">
    <div class="col-md-6">
      <div>
        <h2>{{shop.name}}</h2>
      </div>

      <div *ngIf="hasProducts">
        {{'shopdetails-productsbought'|translate}}
      </div>
      <div *ngIf="!hasProducts">
        {{'shopdetails-noproducts'|translate}}
      </div>

      <div *ngIf="hasProducts" class="col-md-offset-2" >
        <li *ngFor="let product of products">
          <a (click)="ProductDetails(product)" >
            {{product.name}}
          </a>
        </li>
        <br />

      </div>
    </div>
    <div class="col-md-6">
      <div class="detailsbuttonsdiv">
        <a class="btn btn-default" (click)="GoBack()">{{'common-goback'|translate}}</a><br/>
        <a class="btn btn-warning" (click)="Edit()">{{'common-edit'|translate}}</a><br />
        <a class="btn btn-danger" (click)="Delete()">{{'common-delete'|translate}}</a><br />
      </div>
    </div>
  </div>
  <div class="col-md-12">
  </div>


  <p-dialog header="{{'shopdetails-edit'|translate}}" [(visible)]="editDialogDisplay" [width]="width" [height]="height" [draggable]="false" [modal]="true">

    <div class="shopmodal">
      <label>{{'shopdetails-name'|translate}}:</label>
      <input type="text" [(ngModel)]="shop.name">
    </div>
    <p-footer>
      <button type="button" pButton (click)="ConfirmEdit()" label="{{'common-save'|translate}}"></button>
      <button type="button" pButton (click)="CancelEdit()" label="{{'common-cancel'|translate}}"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="{{'shopdetails-delete'|translate}}" [(visible)]="removeDialogDisplay" [width]="width" [height]="height" [draggable]="false" [modal]="true">

    <label>{{'shopdetails-yousure'|translate}}</label>
    <p-footer>
      <button type="button" pButton (click)="ConfirmDelete()" label="{{'common-delete'|translate}}"></button>
      <button type="button" pButton (click)="CancelDelete()" label="{{'common-cancel'|translate}}"></button>
    </p-footer>
  </p-dialog>
</div>

<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>


