<div *ngIf="isDataLoaded">
  <p *ngIf="canCreate">
    <a class="btn btn-success" (click)="Create()">{{'plans-createnew'|translate}}</a>
  </p>

  <div class="col-md-12">
    <div *ngFor="let plan of plans">
      <mat-card class="menu-card" (click)="goToDetails(plan.id)">
        <p>Plan wydatków dla okresu: {{plan.startDate}} - {{plan.endDate}}</p>
      </mat-card>
    </div>
  </div>
</div>
<div class="col-md-12">
  <hr>
  <br>
</div>
<div *ngIf="!isDataLoaded">
  <mat-spinner></mat-spinner>
</div>
