<h2 mat-dialog-title>{{'receipt-addshop'|translate}}</h2>
<mat-dialog-content>
  <label>{{'receipt-name'|translate}}:</label>
  <input type="text" #newShopName class="form-control" placeholder="{{'receipt-name'|translate}}"/>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="addShop(newShopName)">{{'common-add'|translate}}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">{{'common-cancel'|translate}}</button>
</mat-dialog-actions>
